.hero_text {
  text-align: center;
  margin-bottom: 90px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: white;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
