footer {

  flex-shrink: 0;
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #303030;
  text-align:center;
  padding: 20px;
  margin-top: 50px;

}

.icon {
  color: #606060;
}
