.header {
  background-color: #303030 !important;
  box-shadow: none !important;
  padding: 0 50px;
}

.logo {
  width: 150px;
}

.link {
  margin: 0 20px;
  font-weight: bold;
}

.link:hover {
  color: #fafafa;
}

.spacer {
  margin: 0 auto;
}

.login {
  color: #fff !important;
  border: 2px solid #fff !important;
}

.login:hover {
  color: #303030 !important;
  background-color: #fff !important;
}
