.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px;
}

.illustration {
  width: 30vw;
  min-width: 200px;
}

.textblock {
  width: 20vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.textheader {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  margin-bottom: 20px;
}

.textbody {
  font-weight: 300;
  margin-bottom: 20px;
}

.button {
  background-color: #69c19c !important;
  color: #fff !important;
  max-width: 150px;
  font-weight: 600 !important;
}
