* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #121212;
}

.intro {
  padding-top: 50px;
}

.profileimage {
  display: flex;
  justify-content: center;
}

.bannerphoto {
  border-radius: 100%;
  filter: grayscale(30%);
  align-self: center;
  width: 200px;
  height: 200px;
}

.bannername {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
}

nav {
  padding-top: 30px;
  padding-left: 20px;
  
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  width: 80px;
  border-bottom: none;
  height: 30px;
}

#active{
  color: white;
  border-bottom: 2px solid aliceblue;
}
.nav span {
  margin-bottom: 0;
  color: #6e6e6e;
  text-decoration: none;
}

.nav span:hover {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  color: white;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cardtitle {
  color: #6e6e6e;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 30px;
}

.card {
  background-color: #1d1d1d;
  margin: 25px;
  margin-top: 0px;
  border-radius: 25px;
  padding: 20px;
}

#skills {
  margin-top: 25px;
}

#badge,
#skills {
  height: min-content;
}

.skillname {
  padding-bottom: 10px;
}

#meeting {
  display: hide;
}

.meetings,
.skill {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #6e6e6e;
}

.meetingdetail {
  margin-top: 10px;
  font-size: 15px;
}

.open{
  float: right;
  padding: 10px;
}

.cancelmeet{
  float: right;
  padding: 10px;
}

.close{
  margin-bottom: 30px;
}

.popupoverlay {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  position: absolute;
  background-color: white;
  color: #121212;
  box-shadow: #121212;
  text-align: center;
  padding: 20px;
  align-content: center;
  border-radius: 25px;
}
.popupcontent {
  margin: 0 auto;
  top: 25%;
  position: relative;
  padding: 20px;
}

.datetime{
  margin:20px;
}

button {
  float: right;
}

.meetbutton{
  color: #fff !important;
  border: 2px solid #fff !important;
  font-size: 10px !important;
}

@media screen and (min-width: 700px) {
  .bannername {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
  }
  nav {
    padding-top: 40px;
    padding-left: 50px;
  }

  .nav li {
    display: inline-block;
    font-size: 30px;
    width: 120px;
    border-bottom: none;
    height: 40px;
  }

  #skills {
    margin-top: 0px;
  }
}
