*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
  }

body{
    background-color: #121212;
}

.intro{
    padding-top: 50px;    
 }

.profileimage{    
    display: flex;
    justify-content: center;
 }

.bannerphoto{
    border-radius: 100%;
    filter:grayscale(30%);
    align-self: center;
    width: 200px;
    height: 200px;    
 }

.bannername{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
 }

nav{
    padding-top: 30px;
    padding-left: 20px;    
    border-bottom: 1px solid aliceblue;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

 .nav li {
    display: inline-block;
    font-size: 20px;
    width: 80px;
    border-bottom: none;
    height: 30px;
}

.nav span{    
    margin-bottom: 0;
    color: #6E6E6E;
    text-decoration: none;
}

#active{
    color: white;
}

.nav span:hover {
    color: white;
}   

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    color: white;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.cardtitle{
    color: #6E6E6E;
    text-decoration: underline;
    margin-bottom: 10px;
}

.card{
    background-color: #1D1D1D;
    margin : 25px;
    margin-top: 0px;
    border-radius: 25px;
    padding: 20px;
}

#skills{
    margin-top: 25px;
}

#badge, #skills{
    height: min-content;
}

.skillname{
    padding-bottom: 10px;
}

#meeting{
    display: hide;
}

.meetings,.skill{
    margin: 10px;
    padding: 10px;
    border-bottom:1px solid #6E6E6E;
}

.meetingdetail{
    font-size: 15px;
}

.popupoverlay {    
    position:fixed; 
    top: calc(50% - 25px); 
    left: calc(50% - 200px); 
    position: absolute;
    background-color: white;
    color: #121212;
    box-shadow: #121212;
    text-align: center;
  }  
  
.popupcontent {
    margin: 0 auto;
    top: 25%;
    position: relative;
}  

button{
    float: right;
}

@media screen and (min-width: 700px) {
    .bannername{
        margin-top: 20px;
        text-align: center;
        font-size: 40px;
        color: aliceblue;
    }
    nav{
        padding-top: 40px;
        padding-left: 50px;
    }

    .nav li {
        display: inline-block;
        font-size: 30px;
        width: 120px;
        border-bottom: none;
        height: 40px;
      }
    
    #skills{
        margin-top: 0px;
    }
}